@import "tailwindcss";

.prod-loader-overlay {
  position: fixed;
  inset: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: all;
  cursor: wait;
}

html,
body,
#root {
  background-color: #ffffff !important;
  height: 100%;
}

html,
body {
  overflow-x: hidden !important;
  max-width: 100% !important;
}
#root {
  overflow-x: hidden;
}
.prod-loader-card {
  background: transparent;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.attendance-approved {
  background: #dcfce7 !important;
  color: #166534 !important;
  border-radius: 6px;
}

.attendance-pending {
  background: #fef9c3 !important;
  color: #854d0e !important;
  border-radius: 6px;
}

.attendance-rejected {
  background: #fee2e2 !important;
  color: #991b1b !important;
  border-radius: 6px;
}

.react-calendar {
  border: none !important;
  width: 100%;
}

.small-calendar {
  width: 100% !important;
  border: none !important;
  font-size: 12px;
}

.small-calendar .react-calendar__tile {
  padding: 5px 0 !important;
}

.small-calendar .react-calendar__navigation button {
  font-size: 13px;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: transparent;
}

.sidebar-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
